@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	src: url("../font/BananasFont.otf");
	font-family: BananasFont;
}

@font-face {
	src: url("../font/PlayfairDisplay.ttf");
	font-family: PlayfairDisplay;
}

@font-face {
	src: url("../font/Poppins.ttf");
	font-family: Poppins;
}

@font-face {
	src: url("../font/IBMPlex.ttf");
	font-family: IBMPlex;
}

body::-webkit-scrollbar {
	width: 0;
}

body {
	background-color: #f1f1f1;
}

.text-stroke {
	-webkit-text-stroke-width: 4px;
	-webkit-text-stroke-color: #000;
}

@layer utilities {
	.hero-text {
		@apply text-[260px] leading-[190px] lht:text-[180px] lht:leading-[135px] mht:text-[150px] mht:leading-[110px] md:text-[150px] md:leading-[100px] sm:text-[100px] sm:leading-[75px] xm:text-[100px] xm:leading-[75px];
	}
	.heroImg {
		@apply w-[200px] lg:w-[135px] mht:w-[140px] slr:w-[110px] md:w-[100px] sm:w-[65px] xm:w-[65px];
	}
	.padding-x {
		@apply px-[80px] lg:px-[50px] mht:!px-[50px] md:px-[30px] sm:px-[20px] xm:px-[20px];
	}

	.padding-y {
		@apply py-[100px] lg:py-[80px] md:py-[60px] sm:py-[40px] xm:py-[40px];
	}

	.margin {
		@apply mt-[170px] lg:mt-[80px] md:mt-[60px] sm:mt-[40px] xm:mt-[40px] mb-[130px] lg:mb-[80px] md:mb-[60px] sm:mb-[40px] xm:mb-[40px];
	}

	.heading {
		@apply text-[60px] md:text-[50px] sm:text-[40px] xm:text-[40px];
	}

	.sub-heading {
		@apply text-[26px] md:text-[22px] sm:text-[18px] xm:text-[15px];
	}

	.paragraph {
		@apply text-[18px] md:text-[16px] sm:text-[16px] xm:text-[16px];
	}

	.sub-paragraph {
		@apply xl:text-[21px] xl:leading-[31px] text-[16px] leading-[24px];
	}

	.small-text {
		@apply xl:text-[16px] xl:leading-[24px] lg:text-[16px] lg:leading-[24px] text-[14px] leading-[22px];
	}
}
